:root {
  /* Colors */
  --primary-color: #fc5c65;
  --secondary-color: #8a5fb2;
  --primary-blue: #6c63ff;
  --text-color: #3f3d56;
  --fade-blue: #d4dfec;

  /* Works Card */
  --middle-w-card-bg: linear-gradient(180deg, #2c2c54 0%, #fc5c65 100%);
  --default-w-card-bg: linear-gradient(
    179.22deg,
    #2c2c54 0.48%,
    #fc5c65 126.66%
  );

  /* Box Shadows */
  --cntact-btn-shadow: 0px 10px 30px rgba(252, 92, 101, 0.59);
  --services-card-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  --works-card-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);

  /* background reset */
  --bg-no-repeat: no-repeat;
  --bg-center-X-Y: center center;
  --bg-cover: cover;
  --bg-contain: contain;

  /* Grid Theming */
  --g-temp-col-2: repeat(2, 1fr);
  --g-temp-col-3: repeat(3, 1fr);
  --g-temp-col-4: repeat(4, 1fr);

  /* Padding */
  --X-Y-padding: 10px 15px;
  --Z-padding: 1em;
  --padding-l-r: 0 1em 0 1em;

  /* Border radius */
  --br-5px: 5px;
  --br-10px: 10px;
  --br-50px: 50px;
  --br-50pc: 50%;
  --br-tl-tr: 40px 40px 0px 0px;
  --contact-br: 10px 10px 50px 10px;

  /* Button Styles */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background: #fff;
  color: #111;
  position: relative;
  line-height: 2;
  font-weight: 400;
  overflow-x: hidden;
  font-size: calc(14px + 0.25vw);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav--header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.09);
}
.nav {
  display: flex;
  align-items: center;
}
.nav--lists {
  display: flex;
  margin-left: auto;
}
.nav--links {
  padding-inline-end: 2em;
  color: #4834d4;
  transition: 0.5s;
}

.nav--links:hover {
  color: #00b0ff;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.header--bg {
  width: 100%;
  height: 100vh;
  margin-top: 20vh;
}

.homeheader {
  background: url("../images/agent.svg") var(--bg-no-repeat) right / 698.44px;
  margin-bottom: 8vh;
}

.section2_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
  margin: 10vh 0 10vh 0;
}

.section2marker {
  position: relative;
  top: 26vh;
}

.space_up {
  display: block;
  margin-top: 20vh;
}
.space_down {
  margin-bottom: 15vh;
  margin-top: -8em;
}
.item1-c {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

/* flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between; */

.contain-steps {
  display: grid;
  grid-column-gap: 6em;
  grid-template-columns: var(--g-temp-col-4);
  align-items: center;
  margin-bottom: 10vh;
  /* margin-left: -3em; */
  /* justify-content: space-between; */
}

.steps-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 2em;
}

.steps {
  width: 70px;
  height: 70px;
  background: linear-gradient(180deg, #4834d4 0%, #00b0ff 100%);
  color: #fff;
  border-radius: var(--br-50pc);
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

/* .home-sec2 {
  background: url("../images/section2_vector.svg") var(--bg-no-repeat)
    var(--bg-center-X-Y) / var(--bg-cover);
  height: 100vh;
} */

.section3 {
  background: linear-gradient(
    172.36deg,
    #6c63ff -10.69%,
    #4834d4 -10.68%,
    #00b0ff 82.4%
  );
  height: 70vh;
}

.section3_grid {
  display: grid;
  grid-column-gap: 3em;
  grid-template-columns: var(--g-temp-col-3);
}

.faq_container {
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.faq-section {
  background: #ffffff;
  border-radius: 20px;
  padding: 2em;
  height: 70vh;
  overflow-y: scroll;
  transition: 0.5s;
}

.faq-section:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.faq-section ul {
  margin-top: 5vh;
  border-bottom: 1px solid #eee;
}

.about_container {
  display: grid;
  grid-column-gap: 4em;
  grid-template-columns: var(--g-temp-col-2);
}

.about_wrapper {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.sec2p p {
  font-weight: normal;
  font-size: 20px;
  width: 743px;
}

.contact_c {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.btn_submit {
  border: none;
  white-space: nowrap;
  display: inline-block;
  background: #4834d4;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 14px;
  line-height: 40px;
  /* height: 40px; */
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.025em;
  transition: all 0.15s ease;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  margin-top: 4vh;
}

.btn_submit:hover {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
  opacity: 0.8;
}

.contact_form label {
  /* display: block; */
  font-weight: bold;
}

.contact_form input {
  display: flex;
}

.input-c {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: var(--g-temp-col-2);
  margin-bottom: 2em;
}

.input-c input {
  background: #e5f5fb;
  border-radius: 10px;
  width: 100%;
  padding: 2em;
  border: none;
  outline: none;
  transition: 0.5s;
  /* height: 100px; */
}

.input-c input:focus {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.contact_form textarea {
  outline: none;
  width: 100%;
  height: 350px;
  background: #e5f5fb;
  border-radius: 10px;
  padding: 2em;
  border: none;
  resize: none;
  transition: 0.5s;
}

.contact_form textarea:focus {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}
.footer--bg {
  background: #3a3768;
  color: #fff;
  padding: 4em;
}

.footer--links {
  color: #fff;
}
.footer--lists {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

::-webkit-scrollbar {
  width: 15px;
  transition: 0.8;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  opacity: 0.5;
  border-radius: var(--br-50px);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  max-width: 350px;
  /* margin: auto; */
  text-align: center;
}
.card_icon img {
  padding-inline-end: 1em;
}
.title {
  color: grey;
  font-size: 18px;
}

.about_button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #2c2c54;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.about_button:hover,
a:hover {
  opacity: 0.7;
}
