.contact_c {
  margin-top: 20vh;
  margin-bottom: 20vh;

  .contact_form label {
    /* display: block; */
    font-weight: bold;
  }

  .contact_form input {
    display: flex;
  }

  .input-c {
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: var(--g-temp-col-2);
    margin-bottom: 2em;
  }

  .input-c {
    display: grid;
    grid-template-columns: var(--g-temp-col-1);

    @include desktop {
      grid-column-gap: 2em;
      grid-template-columns: var(--g-temp-col-2);
      margin-bottom: 2em;
    }
  }

  .input-c input {
    background: #fff;
    border: 2px solid #4834d4;
    border-radius: 4px;
    width: 100%;
    padding: 2em;
    outline: none;
    transition: 0.5s;
    opacity: 0.4;

    /* height: 100px; */
  }

  .input-c input:focus {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    opacity: 1;
  }

  .contact_form textarea {
    outline: none;
    width: 100%;
    height: 350px;
    background: #fff;
    border: 2px solid #4834d4;
    border-radius: 4px;
    padding: 2em;
    resize: none;
    opacity: 0.4;
    transition: 0.5s;
  }

  .contact_form textarea:focus {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    opacity: 1;
  }

  .btn_submit {
    border: none;
    white-space: nowrap;
    display: inline-block;
    background: #4834d4;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 14px;
    line-height: 40px;
    /* height: 40px; */
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.025em;
    transition: all 0.15s ease;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    margin-top: 0;
  }

  .btn_submit:hover {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
    opacity: 0.8;
  }

  .contact_form label {
    /* display: block; */
    font-weight: bold;
  }
}

.r-sidebar__section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 2em; */
}

/* The container */
.r-sidebar--label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 5vh;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.r-sidebar--label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.r-sidebar--label:hover input ~ .checkmark {
  background-color: #888;
}

/* When the checkbox is checked, add a blue background */
.r-sidebar--label input:checked ~ .checkmark {
  background-color: #4834d4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.r-sidebar--label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.r-sidebar--label .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
