@import "./HomePageStyles/HomeHeader";
@import "./HomePageStyles//HomeSection2";
@import "./HomePageStyles/HomeSection3";
@import "./HomePageStyles/faq";
@import "./modal.scss";

@import "./about.scss";
@import "./contact.scss";
@import "./terms_policy.scss";

:root {
  /* Colors */
  --primary-color: #fc5c65;
  --secondary-color: #8a5fb2;
  --primary-blue: #6c63ff;
  --text-color: #3f3d56;
  --fade-blue: #d4dfec;

  /* Works Card */
  --middle-w-card-bg: linear-gradient(180deg, #2c2c54 0%, #fc5c65 100%);
  --default-w-card-bg: linear-gradient(
    179.22deg,
    #2c2c54 0.48%,
    #fc5c65 126.66%
  );

  /* Box Shadows */
  --cntact-btn-shadow: 0px 10px 30px rgba(252, 92, 101, 0.59);
  --services-card-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  --works-card-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);

  --dp-shadow-6: 0 6px 10px 0 rgba(39, 34, 34, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);

  /* background reset */
  --bg-no-repeat: no-repeat;
  --bg-center-X-Y: center center;
  --bg-cover: cover;
  --bg-contain: contain;

  /* Grid Theming */
  --g-temp-col-1: repeat(1, 1fr);
  --g-temp-col-2: repeat(2, 1fr);
  --g-temp-col-3: repeat(3, 1fr);
  --g-temp-col-4: repeat(4, 1fr);

  /* Padding */
  --X-Y-padding: 10px 15px;
  --Z-padding: 1em;
  --padding-l-r: 0 1em 0 1em;

  /* Border radius */
  --br-5px: 5px;
  --br-10px: 10px;
  --br-50px: 50px;
  --br-50pc: 50%;
  --br-tl-tr: 40px 40px 0px 0px;
  --contact-br: 10px 10px 50px 10px;

  /* Button Styles */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background: #fff;
  color: #111;
  position: relative;
  line-height: 2;
  font-weight: 400;
  overflow-x: hidden;
  font-size: calc(14px + 0.25vw);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

// h1 {
//   font-size: 10vw;
// }

// h2 {
//   font-size: 5vw;
// }

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;

  // @include desktop {
  //   max-width: 1180px;
  // }
}

.nav {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    padding: 1em;
  }
}
.nav-lists {
  @include desktop {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10rem;
  }

  .logo_small-screen {
    @include for-tablet-landscape-up {
      margin-left: 2.7rem;
    }
  }
}

.nav-lists {
  @include for-tablet-landscape-up {
    display: flex;
    margin: 0;
  }
}

// .nav--header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 3;
//   background: #ffffff;
//   box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.09);
//   width: 100vw;
// }
// .nav {
//   @include desktop {
//     display: flex;
//     align-items: center;

//     .nav--links {
//       padding-inline-end: 2em;
//       color: #4834d4;
//       transition: 0.5s;
//     }
//   }
// }

// .nav--header {
//   .nav__header--content {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   .nav--lists {
//     // display: none;
//     & a {
//       display: block;
//       font-weight: 700;
//       padding: 0.5rem 1rem 0.5rem 1rem;
//       transition: 0.5s;
//     }

//     & a:hover {
//       background: #4834d4;
//       color: #fff;
//     }
//     // display: none;
//     // height: 0;
//     // overflow: hidden;
//     @include desktop {
//       display: flex;
//       margin-left: auto;

//       & a:hover {
//         background: transparent;
//         color: #4834d4;
//         opacity: 0.7;
//       }
//     }
//   }

//   .nav-menu {
//     background: transparent;
//     border: none;
//     cursor: pointer;
//     outline: #2c2c54;

//     @include desktop {
//       display: none;
//     }
//   }
// }

// aside {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   @include desktop {
//     align-items: left;
//   }
// }

.page_not_found {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 20vh;

  & img {
    width: 500px;
  }
}

.footer--bg {
  background: #3a3768;
  color: #fff;
  padding: 4em;

  .footer--lists {
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  .footer--links {
    color: #4d8af0;
  }
}

.all__section--h2 {
  font-weight: 300;
  font-size: 49px;
  color: #4834d4;
  text-align: center;
  margin-top: 5vh;
  @include desktop {
    margin-top: 15vh;
  }
}

::-webkit-scrollbar {
  @include desktop {
    width: 15px;
    transition: 0.8;
  }
}
/* Track */
::-webkit-scrollbar-track {
  @include desktop {
    background: #eee;
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  @include desktop {
    background: #ccc;
    opacity: 0.5;
    border-radius: var(--br-50px);
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
